html,
:root{
    overflow: hidden;
}

body {
    margin-left: 10px ;
    margin-right: 10px;
    margin-top: 0;
    
    background-color: #091014;
    height: 100%;
    overflow: hidden;
}




.Gridbox {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    overflow: hidden;
   
}
    
.left_options { 
    grid-area: 1 / 1 / 2 / 2; 
    height: 100svh;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    align-items: center;

}

.menu-item {
    opacity: 0.3;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 4rem);
    transition: all 0.4s ease;
}

.Filter > h1{
    color: rgb(255, 255, 255);
    font-size: clamp(5rem, 4vw, 8rem);



}


.Map { 
    
    height : 100%;
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;
    display: grid;
    


 }

 .Map > img {
    view-transition-name: map-image;
    opacity: 30%;

 }


.Filter {
    view-transition-name: filter;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    /*background: radial-gradient(#e6646400 0%, #e6646400 70%);*/
    background: transparent;
    text-align: center;
    animation: background-in 1s linear 3.5s 1 normal forwards;




}



.Map > img {
    overflow: hidden;

    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    animation: fade-out 1s linear 4s 1 normal forwards;


}

@keyframes fade-out {
	0% {
		opacity: 0.3;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.1);
	}
}

@keyframes background-in {
	0% {
        background: radial-gradient(#e6646400 0%, #e6646400 70%);
	}

	100% {
		background: radial-gradient(#e6646400 0%, #091014 70%);
	}
}






/* making this a grid of 1by1 with all the options on top of it */
.right_options { 
    view-transition-name: right;
    height: 100dvh;
    grid-area: 1 / 3 / 2 / 4;
    overflow:scroll;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    align-items: center;
}

.right_options::-webkit-scrollbar{
    display: none;
}



.right_playbooks{
    
    grid-area: 1 / 1 / 2 / 2; 
    height: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    align-items: center;
    opacity: 0;
    overflow: scroll;
}



.right_strats{
    grid-area: 1 / 1 / 2 / 2; 
    height: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 7px;
    align-items: center;
    opacity: 0;
    overflow: scroll;

}

.right_options[active-index='0'] > .right_playbooks {
    opacity: 1;
}

.right_options[active-index='1'] > .right_strats{
    opacity: 1;
}


.left_options:hover > .menu-item,
.left_options:hover > a > .menu-item {
    opacity: 0.3;
}
  
.left_options:hover > .menu-item:hover,
.left_options:hover > a > .menu-item:hover {
    opacity: 1; 

}

.right_playbooks:hover .menu-item,
.right_strats:hover .menu-item {
    opacity: 0.3;
}
  

.right_strats:hover .menu-item:hover,
.right_playbooks:hover .menu-item:hover {
    opacity: 1; 

}


@view-transition {
    navigation: auto;
}
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.5s;
}

::view-transition-old(right){
animation: slide-out 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

::view-transition-new(right){
animation: slide-in 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;;
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

