html,
body {
	height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; 
  min-height: 100%;
}

.GithubPanel {
  flex: 1 200px;
  background-color: #9a9a9a;
}

.ValorantPanel {
  flex: 1 200px;
  background-color: #011723;

}


.VideoPanel {
  flex: 1 400px;
  min-height: 225px;
  background-color: #6e0870;
}


