html,
body {
	height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; 
  min-height: 100%;
}

.CultPanel {
    flex: 1 100px;
    background-color: #837af7;
  }
  
.MapIdeasPanel {
    flex: 1 100px;
    background-color: #95092e;
  
  }
  
  
.RandomStratsPanel {
    flex: 1 100px;
    background-color: #f26429;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap; 
      min-width: 100%;
    }
  }
  
