@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


body {
    overflow: hidden;
    background: radial-gradient(circle at center, hsl(237, 88%, 10%) 0%, #020423 50%, hsl(236, 89%, 4%) 100%);
}



.carousel img{
  display: block;
  max-height: 100dvh;
  max-width: 100dvw;
}
.carousel-cell {
  width: 100vw;
  height: 100vh;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.box {
  --bulma-box-background-color: hsla(237, 85%, 8%, 0.483);
  --bulma-box-color: hsl(186, 28%, 93%);
  --bulma-box-shadow: 0 0.5em 1em -0.125em hsla(237, 88%, 10%,0.1),0 0px 0 1px hsla(236, 89%, 4%,0.02);
  position: absolute;
  bottom: 10dvh;
  left: 75dvw;
  /*z-index: 10;*/
  transition: opacity 1s ease;
}

.image-title {
  color: #E8F1F2;
}

.image-description {
  color: hsl(186, 28%, 93%);
}

@media only screen and (min-width: 600px){
  .carousel img{
  display: block;
  max-width: 100dvw;
  max-height: 100dvh;
}
}