:root {
  --bulma-primary-h: 73deg;
  --bulma-primary-s: 49%;
  --bulma-primary-l: 66%;
  --bulma-link-h: 311deg;
  --bulma-link-s: 80%;
  --bulma-link-l: 81%;
  --bulma-info-h: 0deg;
  --bulma-info-l: 80%;
  --bulma-success-h: 30deg;
  --bulma-success-s: 45%;
  --bulma-success-l: 75%;
  --bulma-warning-h: 25deg;
  --bulma-warning-s: 75%;
  --bulma-warning-l: 64%;
  --bulma-danger-h: 181deg;
  --bulma-danger-s: 28%;
}

.tabs {
  --bulma-tabs-link-color: hsl(196deg,27%,10%);
  --bulma-tabs-link-active-color: hsl(221deg,14%,93%);
  --bulma-tabs-boxed-link-hover-background-color: hsl(0,30%,40%);
  --bulma-tabs-boxed-link-active-background-color: hsl(0deg,100%,16%);
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
}

.hero-body {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
}

.tab-contents {
    overflow: hidden;
}

.videocard{
    object-fit: cover;
    width: 50%;
}

#ModelsContainer {
  overflow: hidden;
}