html,
body {
    margin: 0px;
    background-color: rgb(20, 20, 20);
    overflow: hidden; /* Prevent scrolling */
}

#menu {  
    /*
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-left: 5vw;
    margin-right: 5vw;
    */
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center;
    height: 100vh;
    width: 100vh; /* Add padding to the sides */
    gap: 30vw;

}

.menu-item {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(3rem, 2vw, 8rem);
    text-decoration: none;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(10%, 10vw, 20%);
}

#menu-items:hover > a > .menu-item {
    opacity: 0.3;
}
  
#menu-items:hover > a > .menu-item:hover {
    opacity: 1; 

}

#maps {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0vh;
    transition: top 0.4s ease; /* Add transition for smooth scrolling */
}

#maps div {
    width: 15vh;
    transition: all 0.4s ease;
}

/* Adjust the top position based on the active index */

#menu[data-active-index="0"] > #maps {
    top: 80vh;
}
#menu[data-active-index="1"] > #maps {
    top: 64vh;
}
#menu[data-active-index="2"] > #maps {
    top: 48vh;
}
#menu[data-active-index="3"] > #maps {
    top: 32vh;
}
#menu[data-active-index="4"] > #maps {
    top: 16vh;
}
#menu[data-active-index="5"] > #maps {
    top: 0vh;
}
#menu[data-active-index="6"] > #maps {
    top: -16vh;
}
#menu[data-active-index="7"] > #maps {
    top: -32vh;
}
#menu[data-active-index="8"] > #maps {
    top: -48vh;
}
#menu[data-active-index="9"] > #maps {
    top: -64vh;
}
#menu[data-active-index="10"] > #maps {
    top: -80vh;
}
#menu[data-active-index="11"] > #maps {
    top: 0vh;
}

/* Center the specific map image and increase its size */
#menu[data-active-index="0"] > #maps div:nth-child(1) {
    width: 30vh;
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;
}
#menu[data-active-index="1"] > #maps div:nth-child(2) {
    width: 30vh;
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;
}
#menu[data-active-index="2"] > #maps div:nth-child(3) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="3"] > #maps div:nth-child(4) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="4"] > #maps div:nth-child(5) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="5"] > #maps div:nth-child(6) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="6"] > #maps div:nth-child(7) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="7"] > #maps div:nth-child(8) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="8"] > #maps div:nth-child(9) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}
#menu[data-active-index="9"] > #maps div:nth-child(10) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;

    width: 30vh;
}
#menu[data-active-index="10"] > #maps div:nth-child(11) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 30vh;
}