html,
body {
    background-color: #091014;
    height: 100dvh;
    width: 100dvw;
}


#middle-map{
    width: 70dvw
}

#middle-map > img{
    opacity: 0;
}
#menu {  
    /*
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;

    */
    overflow:hidden;
    display: flex;/* Distribute space between items */
    align-items: center;
    height: 100%;

    gap: 0;
    margin-left: 2vw;
    margin-right: 2vw;
 /* Add padding to the sides */

}

#map-titles{

    margin-left: 30px;
    margin-right: 0;

}

.menu-item {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(3rem, 2vw, 8rem);
    text-decoration: none;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(10%, 10vw, 20%);
}

#menu-items:hover > a > .menu-item {
    opacity: 0.3;
}
  
#menu-items:hover > a > .menu-item:hover {
    opacity: 1; 
}

#maps {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0vh;
    transition: top 0.4s ease; /* Add transition for smooth scrolling */
}

#maps div {
    width: 15vh;
    transition: all 0.4s ease;
}

#maps > img {
    width: 20%;
    height: auto;
}

/* Adjust the top position based on the active index 

#menu[data-active-index="0"] > #maps {
    top: 80vh;
}
#menu[data-active-index="1"] > #maps {
    top: 64vh;
}
#menu[data-active-index="2"] > #maps {
    top: 48vh;
}
#menu[data-active-index="3"] > #maps {
    top: 32vh;
}
#menu[data-active-index="4"] > #maps {
    top: 16vh;
}
#menu[data-active-index="5"] > #maps {
    top: 0vh;
}
#menu[data-active-index="6"] > #maps {
    top: -16vh;
}
#menu[data-active-index="7"] > #maps {
    top: -32vh;
}
#menu[data-active-index="8"] > #maps {
    top: -48vh;
}
#menu[data-active-index="9"] > #maps {
    top: -64vh;
}
#menu[data-active-index="10"] > #maps {
    top: -80vh;
}
*/
#menu[data-active-index="11"] > #maps {
    top: 0vh;
}

/* Center the specific map image and increase its size */
#menu[data-active-index="0"] > #maps div:nth-child(1) {
    width: 50vh;
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;
}
#menu[data-active-index="1"] > #maps div:nth-child(2) {
    width: 50vh;
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;
}
#menu[data-active-index="2"] > #maps div:nth-child(3) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="3"] > #maps div:nth-child(4) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="4"] > #maps div:nth-child(5) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="5"] > #maps div:nth-child(6) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="6"] > #maps div:nth-child(7) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="7"] > #maps div:nth-child(8) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="8"] > #maps div:nth-child(9) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}
#menu[data-active-index="9"] > #maps div:nth-child(10) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;

    width: 50vh;
}
#menu[data-active-index="10"] > #maps div:nth-child(11) {
    position: relative;
    margin-left: -45vw;
    margin-right: -45vw;


    width: 50vh;
}

.transition-hero {
    view-transition-name: hero;
}

/* */
@view-transition {
    navigation: auto;
}
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.2s;
}

  


@media (orientation: portrait) {
    @view-transition {
        navigation: auto;
    }



    #middle-map > img{
        opacity: 1;
        height: 40dvh;
        overflow: scroll;
    }

    #menu {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr 3fr 1fr;
        overflow: hidden;
        gap: 5%;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #menu > :nth-child(1) {
        mask: linear-gradient(90deg, rgba(20, 20, 20, 0) 0%, rgba(255, 0, 0, 1) 50%, rgba(20, 20, 20, 0) 100%);
    }

    #map-titles {
        width: 100svw;
        position: relative;
        overflow-x: visible;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
        align-items: center;
        justify-content: center;
    }

    
    #menu-items {
        margin-left: 0;
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        position: relative;
        gap: clamp(3em, 4em, 6em);
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
        padding-left: 45dvw; /* Center the first item */
        padding-right: 45dvw; /* Center the last item */
        scroll-snap-type: x mandatory;
        grid-template-columns: repeat(11, 300px);
    }




    #menu-items::-webkit-scrollbar {
        display: none;
    }

    #middle-map{
        display: grid;
        grid-auto-flow: column;
        height: 50svh;
    }


    #maps {
        display: grid;
        grid-auto-flow: column;
        overflow: visible;
        padding-left: 45dvw; /* Center the first item */
        padding-right: 45dvw;
        gap: clamp(3em, 4em, 6em); /* Add spacing to match the menu items */
        grid-template-columns: repeat(11, 300px);
    }
    #maps > div{
        scroll-snap-align: center;
    }

    #maps > img {
        width: clamp(5rem, 4vw, 8rem);
        
    }
    .menu-item {
        gap: 5px;
        font-size: clamp(5rem, 4vw, 8rem);
        scroll-snap-align: center;
    }

    #menu-items:hover > a > .menu-item {
        opacity: 1;
    }
    
}


