@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

body {
    overflow: hidden;
    background: radial-gradient(circle at center, hsl(237, 88%, 10%) 0%, #020423 50%, hsl(236, 89%, 4%) 100%);
}

.carousel video{
  display: block;
  width: 100%;
  height: 100%;
}
.carousel-cell {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
  
/* Video info box styles  
.video-info-box {
  position: absolute;
  bottom: 10dvh;
  left: 75dvw;

  background: #03052748;
  padding: 15px 20px;
  border-radius: 8px;
  max-width: 20dvw;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(10px);
  border: 1px solid #E8F1F2cd;

  z-index: 10;
  transition: opacity 1s ease;
}
  */
.box {
  --bulma-box-background-color: hsla(237, 85%, 8%, 0.483);
  --bulma-box-color: hsl(186, 28%, 93%);
  --bulma-box-shadow: 0 0.5em 1em -0.125em hsla(237, 88%, 10%,0.1),0 0px 0 1px hsla(236, 89%, 4%,0.02);
  position: absolute;
  bottom: 10dvh;
  left: 75dvw;
  /*z-index: 10;*/
  transition: opacity 1s ease;
}

.video-title {
  color: #E8F1F2;
}

.video-description {
  color: hsl(186, 28%, 93%);
}


  

video::-webkit-media-controls-panel {

  background-image: linear-gradient(transparent, transparent) !important;

}